.section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;

    overflow: hidden;
}

.background {
    position: absolute;
    inset: 0;
}

.background > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 4;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding-left: 1.5rem;  /* 24px */
    padding-right: 1.5rem; /* 24px */    
    padding-top: 8rem; /* which is equivalent to 128px */
    padding-bottom: 5rem;
    position: relative;
    z-index: 10;
}

.content > div {
    display: grid;
    gap: 3rem; /* 48px */
    align-items: center;
}

.leftColumn {
    margin-top: 2rem;
}

.leftColumn > span {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
    font-size: small;
    color: var(--color-primary);
}

.leftColumn > span > span {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--color-primary);
    border-radius: 50%;
}

.headline {
    margin-top: 1rem;
}

.headline > h1 {
    font-size: xx-large;
    font-weight: bold;
}

.headline .primary {
    color: var(--color-primary);
}

.headline .italic {
    font-weight: normal;
    font-style: italic;
}

.headline p {
    margin-top: 1rem;
    font-size: large;
    color: var(--color-muted-foreground);
    max-width: 32rem; /* 512px */
}

.ctaButtonsContainer {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.ctaButtonIcon {
    width: 1.25rem; /* 20px */
    height: 1.25rem; /* 20px */
}

/* md */
@media (min-width: 1024px) {
    .content > div {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}