.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    padding-top: 1.25rem; /* 20px */
    padding-bottom: 1.25rem; /* 20px */
    z-index: 50;
}

.header > nav {
    width: 100%;
    margin: 0 auto;
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > nav > a {
    font-size: x-large;
    font-weight: bold;

    &:hover {
        color: var(--color-primary);
    }
}

.header >nav > a > span {
    color: var(--color-primary);
}

.desktopNav {
    display:none;
    align-items: center;
    gap: 0.25rem; /* 4px */
}

.desktopNav > div {
    padding-left: 0.5rem; /* 8px */
    padding-right: 0.5rem; /* 8px */
    padding-top: 0.25rem; /* 4px */
    padding-bottom: 0.25rem; /* 4px */

    display: flex;
    align-items: center;
    gap: 0.25rem; /* 4px */
}

.desktopNav a {
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */   
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */    

    font-size: small;
    color: var(--color-muted-foreground);

     &:hover {
        color: var(--color-foreground);
        background-color: var(--color-surface);
    }
}

.ctaButtonsContainer {
    display: none;
}

.mobileMenuButton {
    padding-left: 0.5rem; /* 8px */
    padding-right: 0.5rem; /* 8px */  

    color: var(--color-foreground);

    cursor: pointer;
}

.mobileMenu > div {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mobileMenu > div a {
    font-size: large;
    color: var(--color-muted-foreground);
    &:hover {
        color: var(--color-foreground);
    }
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */    
}

/* md */
@media (min-width: 768px) {
  .desktopNav {
    display: flex; 
  }
  .ctaButtonsContainer {
    display: block;
  }
  .mobileMenuButton {
    display: none;
  }
  .mobileMenu {
    display: none;
  }
}